@import "tailwindcss";

@theme {
  --color-primary: #ffffff;
  --color-secondary: #f5f5f3;
  --color-active: #262626;
  --color-nonactive: #767676;
  --color-placeholder: #c4c4c4;
  --color-primary-border: #979797;
  --color-secondary-border: #f0f0f0;
  --color-third-border: #c11c1c;
  --color-primary-text: #6d6d6d;
  --color-red: #bb1515;
  --color-black: #000000;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-dmsans: var(--font-dm-sans), sans-serif;
}

@media (prefers-color-scheme: white) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-dmsans);
}
.sliderbanner .slick-slide > div {
  padding-right: 0px !important;
}
.slick-slide > div {
  padding-right: 30px;
}

.slick-dots ul {
  position: absolute;
  top: 0;
  left: 0;
}

.slick-dots ul li {
  width: 100%;
}
